{#
 # Copyright (c) 2012 GOTO Hidenori <hidenorigoto@gmail.com>,
 #               2012 KUBO Atsuhiro <kubo@iteman.jp>,
 # All rights reserved.
 #}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <title>PHPカンファレンス関西2012 参加者アンケート{% block title %}: {% endblock %}</title>
  </head>
  <body>
    <h1>PHPカンファレンス関西2012 参加者アンケート</h1>

    <div>
      {% block content %}
      {% endblock %}
    </div>
    <footer>
      <address>
        Copyright (c) 2012 Kansai PHP Users Group, All Rights Reserved.<br />
        Programmed by <a href="http://phpmentors.jp/" target="_blank">PHPメンターズ</a><br />
        Powered by <a href="http://symfony.com/" target="_blank">Symfony</a>
      </address>
    </footer>
  </body>
</html>

{#
 # Local Variables:
 # mode: php
 # coding: utf-8
 # tab-width: 4
 # c-basic-offset: 4
 # c-hanging-comment-ender-p: nil
 # indent-tabs-mode: nil
 # End:
 #}
